version: "3.9"

services:
  db:
    image: postgres:17
    container_name: postgres_db
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build: ./backend
    container_name: backend
    ports:
      - "8000:8000"
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
      DJANGO_SECRET_KEY: ${DJANGO_SECRET_KEY:-django-insecure-change-me}
      DJANGO_DEBUG: ${DJANGO_DEBUG:-True}
    depends_on:
      - db
    env_file:
      - .env
    # command: >
    #   sh -c "python manage.py migrate &&
    #          python manage.py runserver 0.0.0.0:8000"

  frontend:
    build:
      context: ./front-end
    container_name: frontend
    ports:
      - "5173:5173"
    environment:
      VITE_API_BASE_URL: http://backend:8000
    depends_on:
      - backend

volumes:
  postgres_data:
